body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  margin: 0;
}

.example {
  min-height: 100vh;
}

.position-example {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-flow: row;
  justify-items: center;
  align-items: center;
}

.position-example .square {
  background: var(--color);
  box-shadow: 0 0 60px var(--color);
  width: 4rem;
  height: 4rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1.7rem;
  border-radius: 0.8rem;
}

.width-example {
  background: lightblue;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 50px;
  padding: 50px;
  height: 100vh;
}

.width-example div {
  background: green;
  /* transform-origin: top left; */
  padding: 20px;
  color: white;
  overflow: hidden;
}

.card-example {
  background: #673ab7;
  overflow: hidden;
}

.card-example .card-list {
  display: grid;
  gap: 10px;
  padding: 10px;
  grid-auto-columns: 1fr;
  grid-template-rows: auto auto;
  grid-auto-flow: column;
  align-items: stretch;
}

.card {
  background: #7e57c2;
  border-radius: 8px;
  padding: 20px;
  font-family: sans-serif;
  cursor: pointer;
  border: none;
  box-shadow: #0000004a 1px 1px 5px 1px;
}

.card.expanded {
  margin: 10px;
  width: calc(100% - 20px);
  min-height: 20rem;
}

.card.placeholder {
  background: #0000001f;
  box-shadow: none;
  filter: blur(2px);
}
